
    <div class="header-right d-flex" style="margin-left: auto;">
      <a href="/lihatprofil" class="d-flex align-items-center link-dark text-decoration-none">
        <strong class="mx-2.5"><%= akun.name %></strong>
        <div class="ikon-profil">
          <img src="/assets/iconmonstr-user-20-240.png" alt="Foto Profil">
        </div>
      </a>
    </div>
