
        <div>
            <div class="head">SISLAB</div>
            <ul class="menu">
              <li>
                <a class="side" href="/admin/dashboard">
                    <img 
                    src="data:image/svg+xml;base64,PHN2ZyBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjIiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTEuNiAxMWMwLS41NTItLjQ0OC0xLTEtMS0xLjY1NSAwLTQuOTQ1IDAtNi42IDAtLjU1MiAwLTEgLjQ0OC0xIDF2OWMwIC41NTIuNDQ4IDEgMSAxaDYuNmMuNTUyIDAgMS0uNDQ4IDEtMSAwLTIuMDkyIDAtNi45MDggMC05em05LjQgNmMwLS41NTItLjQ0OC0xLTEtMWgtNmMtLjUzOCAwLTEgLjQ3Ny0xIDF2M2MwIC41NTIuNDQ4IDEgMSAxaDZjLjU1MiAwIDEtLjQ0OCAxLTF6bS0xLjUuNXYyaC01di0yem0tOS40LTZ2OGgtNS42di04em0xMC45LTcuNWMwLS41NTItLjQ0OC0xLTEtMS0xLjUzNyAwLTQuNDYzIDAtNiAwLS41NTIgMC0xIC40NDgtMSAxdjkuNmMwIC41NTIuNDQ4IDEgMSAxaDZjLjU1MiAwIDEtLjQ0OCAxLTEgMC0yLjE5NCAwLTcuNDA2IDAtOS42em0tMS41LjV2OC42aC01di04LjZ6bS03LjktLjVjMC0uNTUyLS40NDgtMS0xLTEtMS42NTUgMC00Ljk0NSAwLTYuNiAwLS41NTIgMC0xIC40NDgtMSAxdjMuNmMwIC41NTIuNDQ4IDEgMSAxaDYuNmMuNTUyIDAgMS0uNDQ4IDEtMSAwLTEuMDE3IDAtMi41ODMgMC0zLjZ6bS0xLjUuNXYyLjZoLTUuNnYtMi42eiIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9zdmc+"
                    alt="ikon">
                  
                  Dashboard
                </a>
              </li>
              <li>
                <a class="side" href="/admin/data-akun/list-akun">
                    <img 
                    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMy40NCAybC0uNDM5LTJoMTcuOTk0bC0uNDM5IDJoLTE3LjExNnptLTEuNDQgM2wtLjQzOS0yaDIwLjg3OWwtLjQ0IDJoLTIwem0xMC4wOTkgMTAuNzE2bC4wMDQuMjgzaC01LjkzOWwtLjA0OC0uMjkyYy0uMTMzLS43NzktLjE3Ny0xLjIyNC41ODItMS40My44NDItLjIyNyAxLjY4NC0uNDI5IDEuMTY4LTEuMjg5LTEuNjI3LTIuNTQ2LS44NDktMy45OS42MzQtMy45OSAxLjQ1NCAwIDIuNTE2IDEuMzkgMS4zNTUgMy45OS0uMzQ4Ljg1NC41IDEuMDU2IDEuNDAxIDEuMjg5LjgwMS4yMDguODM0LjY1NS44NDMgMS40Mzl6bTYuNjI4LTQuNzE2aC00Ljc4NGwtLjAyOCAxaDQuNjc1bC4xMzctMXptLjI3My0yaC01bC0uMDI4Ljk5OWg0Ljg5MmwuMTM2LS45OTl6bS0uNTQ4IDRoLTQuNTY2bC0uMDI5Ljk5OWg0LjQ1OWwuMTM2LS45OTl6bS0uMjczIDJoLTQuMzUxbC0uMDI4Ljk5OWg0LjI0MWwuMTM4LS45OTl6bTUuODIxIDNoLTI0bDIgNmgyMGwyLTZ6bS0yMC42MjUtMmwtMS4wODUtOC4wMDFoMTkuNDExbC0xLjExOSA4LjAwMWgyLjAyMWwxLjM5Ny0xMGgtMjRsMS4zNTYgMTBoMi4wMTl6Ii8+PC9zdmc+"
                    alt="ikon">
                  
                  Data Akun Pengguna
                </a>
              </li>
              <li>
                <a class="side" href="/admin/data-surat/surat-masuk">
                    <img 
                    src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik02IDE2aC01djZoMjJ2LTZoLTV2LTFoNnY4aC0yNHYtOGg2djF6bTE0IDJjLjU1MiAwIDEgLjQ0OCAxIDFzLS40NDggMS0xIDEtMS0uNDQ4LTEtMSAuNDQ4LTEgMS0xem0tNy41LTE3djE0Ljg4NGw0LjczNi01LjcyNC43NjQuNjQ1LTUuOTc5IDcuMTk1LTYuMDIxLTcuMjA1Ljc2NS0uNjQ0IDQuNzM1IDUuNzMydi0xNC44ODNoMXoiLz48L3N2Zz4="
                    alt="ikon">
                  
                  Data Surat Masuk
                </a>
              </li>
              <li>
                <a class="side" href="/admin/data-surat/surat-keluar">
                    <img 
                    src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik05IDE2aC04djZoMjJ2LTZoLTh2LTFoOXY4aC0yNHYtOGg5djF6bTExIDJjLjU1MiAwIDEgLjQ0OCAxIDFzLS40NDggMS0xIDEtMS0uNDQ4LTEtMSAuNDQ4LTEgMS0xem0tNy41IDBoLTF2LTE0Ljg4M2wtNC43MzUgNS43MzItLjc2NS0uNjQ0IDYuMDIxLTcuMjA1IDUuOTc5IDcuMTk1LS43NjQuNjQ1LTQuNzM2LTUuNzI0djE0Ljg4NHoiLz48L3N2Zz4="
                    alt="ikon">
                  
                  Data Surat Keluar
                </a>
              </li>
            </ul>
      
            <ul class="menu" id="bot">
              <li>
                <a class="side" href="/">
                  <img
                    src="https://cdn1.iconfinder.com/data/icons/materia-arrows-symbols-vol-8/24/018_320_door_exit_logout-64.png"
                    alt="ikon">
                  
                  Log Out
                </a>
              </li>
            </ul>
        </div>
