<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISMI Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open Sans Condensed:300' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.css">

</head>
<body>
    <div class="d-flex">
        <aside class="sidebar d-flex justify-content-between">
          <nav class="menu py-3">
            <img src="/assets/SISLAB.png" class="img-fluid" alt="...">
            <ul>
              <li><i class="bi bi-file-earmark-text-fill"></i>
                <a href="#" class="active">Kelola Surat Masuk</a></li>
              <li><i class="bi bi-file-earmark-text"></i>
                <a href="#">Kelola Surat Keluar</a></li>
              <li><i class="bi bi-send-fill"></i>
                <a href="#">Disposisi Surat</a></li>
            </ul>
          </nav>
          <div class="">
            <div class="logout">
                <a href="#">Log Out</a>
              </div>
          </div>
          
        </aside>  
        <main class="main-content">
            <div class="d-flex justify-content-end mb-4">
                <div class="user-info">
                    <span class="fw-bold">Asisten</span>
                    <span><i class="bi bi-person-circle"></i></span>
                </div>
            </div> 
          <div class="py-4 d-flex justify-content-between">
            <h2>Surat Masuk</h2>
            <button class="btn-add">+ Tambah Surat</button>
          </div>
          <section class="content">
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>No</th>
                  <th>Nama Surat</th>
                  <th>File Surat</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Surat Keputusan Departemen</td>
                  <td>Surat Keputusan.pdf</td>
                  <td>
                    <a href="#" class="action-btn view">🔍</a>
                    <a href="#" class="action-btn edit">✏️</a>
                    <a href="#" class="action-btn delete">🗑️</a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Surat Keputusan Departemen</td>
                  <td>Surat Keputusan.pdf</td>
                  <td>
                    <a href="#" class="action-btn view">🔍</a>
                    <a href="#" class="action-btn edit">✏️</a>
                    <a href="#" class="action-btn delete">🗑️</a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Surat Keputusan Departemen</td>
                  <td>Surat Keputusan.pdf</td>
                  <td>
                    <a href="#" class="action-btn view">🔍</a>
                    <a href="#" class="action-btn edit">✏️</a>
                    <a href="#" class="action-btn delete">🗑️</a>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Surat Keputusan Departemen</td>
                  <td>Surat Keputusan.pdf</td>
                  <td>
                    <a href="#" class="action-btn view">🔍</a>
                    <a href="#" class="action-btn edit">✏️</a>
                    <a href="#" class="action-btn delete">🗑️</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
        </main>
      </div>
      
</body>
</html>
