<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST LOGIN</title>
</head>
<body>
    <h1>Hallo <%= data.name %></h1>
    <h2>Ini password anda: <%= data.password %></h2>
    <h2>Ini Role anda: <%= data.role %></h2>
    <h2>Ini Nomor induk anda: <%= data.nomor_induk %></h2>
</body>
</html>
