.main{
    display: flex;
    height: 100vh;
    width: 100%;
}

.main2{
    display: flex;
    height: 110%;
    width: 100%;
    /* position: fixed; */
}

.sidebar{
    height: 100%;
    width: 30%;
    background: linear-gradient(150deg, #ffffff 10.41%, #1000c0 95.92%);
    border-radius: 0 3% 3% 0;
} 

.sidebar2{
    height: 100%;
    width: 30%;
    background: linear-gradient(150deg, #ffffff 10.41%, #1000c0 95.92%);
    border-radius: 0 3% 3% 0;
    position: fixed;
}  

.menu{
    margin-left: 15%;
    color: white;
}

.menu a{
    margin-bottom: 10%;
    font-size: 20px;
}

#bot {
    margin-top: 20%;
}
.side img{
    filter: invert(100%);
}

li {
    transition: background-color 1s ease, color 1s ease, transform 0.3s ease;
}

.sidebar ul li:hover {
    background-color: navy;
    cursor: pointer;
    height: 55px;
    width: 370px;
    transform: scale(1.1);
    border-radius: 50px;
    /* padding-top: 4%; */
  }
  
.sidebar-responsive {
    display: inline !important;
    position: absolute;
}

.header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    align-items: center;
  }
  

.menu-icon {
    display: none;
  }

.inmain{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}